body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #444;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
}
h1 {
    color: #FFF;
    margin-bottom: 20px;
}
.keys{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.key{
    width: 50px;
    min-height: 50px;
    padding: 10px;
    border: 2px solid #fff;
    margin: 5px;
    font-weight: bold;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.key.active {
    border: 2px solid #FF0;
    color: #FF0;
}
.composição{
display: flex;
flex-direction: column;
margin: 20px;
width: 260px;
align-items: center;

}
#input{
    width: 100%;
    outline: none;
    font-size: 16px;
    padding: 10px;

}
#botao{
    width: 100%;
    height: 40px;
    background: #444;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
}
#botao:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
footer {
    margin-top: 10px;
    color: #FFF;
    font-size: 14px;
}